// Variables
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');


// Dark theme & Light theme
@media (prefers-color-scheme: dark) {
  
}

@media (prefers-color-scheme: light){
    body{
        background-color: #eeeeee;
        color: #333;
    }

    .ticket-widget-section{
        background-color: rgb(255, 255, 255);
    }

    .ticket{
        background-color: rgb(255, 193, 193);
        border: #333 1px solid;
    }
    

    #main-content{
        background-color: white;
        color: #333;
    }
}

// Colors
$brand-color: #ff0215;

body{
    font-family: 'Nunito', sans-serif;
}



/* Sidebar Navigation */
.nav-link {
    color: #444;
    font-weight: 200;
}

/* Widget Section */
.widget-section {
    min-height: 100px;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    p {
        color: #333;
    }
}

/* Widget Section */
.ticket-widget-section {
    min-height: 100px;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    min-height: 75vh;
    p {
        color: #333;
    }
    

    .ticket{

        border: #eee solid 1px;
        border-radius: 5px;
        box-shadow: #444 5px 5px .5;
        margin: 5px;
        padding: 8px;

        div{
            display: inline-block;
        }

        .ticket-check{
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 5px;
            padding-right: 5px;
            align-items: center;
            input{
                padding-top: 2px;
            }
        }

        .ticket-actions{

            position: relative;
            float: right;

            ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: inline;

                li{
                    display: inline-block;
                }
            }
        }
    }

    .ticket:hover{
        background-color: #eee;
    }
}

#main-content{
    min-height: 60vh;
}

.feather{
    height: 0.9rem;
    width: 0.9rem;
}

.card-small{
    min-height: 100px;
    max-width: 150px;
    min-width: 100px;
    max-width: 150px;
}

.card-large{
    min-height: 2500px;
    max-width: 350px;
    min-width: 250px;
    max-width: 350px;
}